.main-header{
    background-color: #ffe7c3;
    height: 4rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.65);
    padding-inline-start: 15px;
}

.main-logo{
    color: #686868;
    font-size: 1.6rem;
}